# Coursework: Descriptive Statistics
 
## Prevalence of mental health disorders worldwide

After your successful experience in the Uruguayan government, you received an offer to work at the WHO in an area in charge of analyzing mental health metrics. Now you have the challenge of finding which demographic variables are related to a higher prevalence of mental health disorders in different countries.

Let's first load the data that has been provided to you for this task. These come from the [Data World](https://data.world/vizzup/mental-health-depression-disorder-data) portal.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df_age = pd.read_csv(
    "https://raw.githubusercontent.com/renatoparedes/IntroPythonInvestigacionPsicologia/master/AnalisisdeDatosCuantitativos/depression-data-age.csv"
)
df_subsdis = pd.read_csv(
    "https://raw.githubusercontent.com/renatoparedes/IntroPythonInvestigacionPsicologia/master/AnalisisdeDatosCuantitativos/depression-data-subsdis.csv"
)

## Depression according to age

In the DataFrame `df_age` you will find data on the prevalence of depression by age group in different countries. Take a first look at the table:

In [2]:
df_age.head()

,entity,code,year,20_24_years_old,10_14_years_old,all_ages,70_years_old,30_34_years_old,15_19_years_old,25_29_years_old,50_69_years_old,age_standardized,15_49_years_old
0,Afghanistan,AFG,2017,4.386172,1.618270,3.050785,5.279772,5.749905,3.433750,5.105028,6.131183,4.136347,5.010372
1,Albania,ALB,2017,2.437424,0.900396,2.607896,4.399558,2.401418,2.004014,2.398396,3.664052,2.208414,2.487747
2,Algeria,DZA,2017,3.854475,1.757578,3.691020,4.848270,4.630534,3.404122,4.256386,5.402483,3.661094,4.522808
3,American Samoa,ASM,2017,2.885708,1.063623,2.787788,5.746022,2.971754,2.438167,2.862544,5.451378,2.939668,3.115501
4,Andean Latin America,NaN,2017,2.884113,1.024932,2.538325,4.663443,2.966047,2.354958,2.933790,4.408046,2.610385,2.969004

### Summary statistics

- Prepare a report that includes measures of central tendency and dispersion of depression prevalence data in each of the age groups present in the table. Also consider metrics about the shape of the distribution (skewness and kurtosis).

In [1]:
# Write your solution here

- Which age group(s) have the highest prevalence of depression? And with lower prevalence? Make a graph to illustrate your results (hint: use the violinplot function from the seaborn package).

In [2]:
# Write your solution here

## Prevalence of mental health disorders worldwide

In the DataFrame `df_subsdis` you will find data on the prevalence of mental health disorders from different countries. Take a first look at the table:

In [3]:
df_subsdis.head()

,entity,code,year,schizophrenia,bipolar_disorder,eating_disorders,anxiety_disorders,drug_use_disorders,depression,alcohol_use_disorders
0,Afghanistan,AFG,2017,0.166158,0.708089,0.107142,4.882481,2.473934,4.136347,0.661217
1,Albania,ALB,2017,0.201025,0.704480,0.174046,3.385245,0.517614,2.208414,1.837955
2,Algeria,DZA,2017,0.197913,0.818687,0.213612,5.065876,1.717218,3.661094,0.665191
3,American Samoa,ASM,2017,0.248557,0.468305,0.177808,3.315834,0.772801,2.939668,1.142277
4,Andean Latin America,NaN,2017,0.201471,0.881737,0.355475,4.267738,0.661481,2.610385,1.533573

### Summary statistics

- Prepare a report that includes measures of central tendency and dispersion based on quantiles (median and interquartile range) of the prevalence data of each of the mental health conditions present in the table (schizophrenia, bipolar disorder, eating disorders, mood disorders). anxiety, drug use disorder).

In [3]:
# Write your solution here

- Which disorder(s) are most prevalent? And with lower prevalence? Make a graph to illustrate your results (tip: use the boxplot function from the seaborn package).

In [4]:
# Write your solution here

### Correlation analysis

- Now, explore whether there are correlations between the prevalences of some of the mental health conditions listed. First calculate Spearman correlation coefficients and then create a heat map that makes it easy to interpret.

In [6]:
# Write your solution here

- Create a matrix of scatter plots of the variables.
(Hint: Use the pairplot function from the seaborn package.)

In [4]:
# Write your solution here